# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production builds
dist/
frontend/dist/

# Environment / Secret Files
.env
backend/.env

# System Files
.DS_Store
Thumbs.db
